<div class="container" style="padding-top: 120px;">
    <h3>
        Estados Vacaciones
    </h3>
    <p>
        Su listado de vacaciones 
    </p>
    <div class="form-group">
        <div>
            <select class="form-control form-control-sm" style="color: rgb(0,0,0);">
                <option value="2022" selected="">2022</option>
                <option value="2021">2021</option>
                <option value="2020">2020</option>
            </select>
        </div>
        
    </div>
            
    <div class="table-responsive table-striped" style="border-radius: 10px;">
                        <table class="table" style="margin:0px;">
                            <thead style="background-color: rgba(52,58,64,0.75);color: rgb(255,255,255);">
                                <tr>
                                    <th class="align-middle">Fecha Inicio</th>
                                    <th class="align-middle">Fecha Fin</th>
                                    <th class="align-middle"><strong>Días</strong><br></th>
                                    <th class="align-middle"><strong>Estado</strong><br></th>     
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="align-middle">01/04/2022</td>
                                    <td class="align-middle">30/04/2022</td>
                                    <td class="align-middle">30<br></td>
                                    <td class="align-middle">Gozado<br></td>
                                </tr>
                                <tr>
                                    <td class="align-middle">01/01/2021</td>
                                    <td class="align-middle">01/01/2021</td>
                                    <td class="align-middle">1<br></td>
                                    <td class="align-middle">Gozado<br></td>
                                </tr>
                                <tr>
                                    <td class="align-middle">01/01/2021</td>
                                    <td class="align-middle">01/01/2021</td>
                                    <td class="align-middle">1<br></td>
                                    <td class="align-middle">Gozado<br></td>
                                </tr>
                                <tr>
                                    <td class="align-middle">01/01/2021</td>
                                    <td class="align-middle">01/01/2021</td>
                                    <td class="align-middle">1<br></td>
                                    <td class="align-middle">Gozado<br></td>
                                </tr>
                                <tr>
                                    <td class="align-middle">01/01/2021</td>
                                    <td class="align-middle">01/01/2021</td>
                                    <td class="align-middle">1<br></td>
                                    <td class="align-middle">Gozado<br></td>
                                </tr>
                                <tr>
                                    <td class="align-middle">01/01/2021</td>
                                    <td class="align-middle">01/01/2021</td>
                                    <td class="align-middle">1<br></td>
                                    <td class="align-middle">Gozado<br></td>
                                </tr>
                            </tbody>
                        </table>
                </div>
            </div>