<!-- <p>datospersonales works!</p> -->
<div class="container" style="padding-top: 120px;">
    <h3>Ficha Personal</h3>
    <br>
    <br>
    <div class="row">
        
        <div class="col-8">
           
            <div class="row">
                <div class="col-6">
                    <span><b>Nombre y Apellidos: </b></span>
                    Jose Perez Gonzales<br><br>
                    <span><b>Fecha Nacimiento: </b></span>
                    11-06-2000<br><br>
                    <span><b>Sexo: </b></span>
                    Masculino<br><br>
                    <span><b>Estado Civil: </b></span>
                    Soltero<br><br>
                    <span><b>Correo Personal: </b></span>
                    jperezg@gmail.com<br><br>
                    <span><b>Celular: </b></span>
                    99999-8752
                    <br><br>
                    <span><b>Dirección: </b></span>
                    Av. Jose Galvez 765 Lince - Lima
                </div>

            </div>
        </div>
      
    </div>
</div>
