<!-- <p>listdescansomedico works!</p> -->
<div class="container" style="padding-top: 120px;">
    <h3>
        Estados Descansos Médicos
    </h3>
    <p>
        Su listado de descansos médicos 
    </p>

            
    <div class="table-responsive table-striped" style="border-radius: 10px;">
                        <table class="table" style="margin:0px;">
                            <thead style="background-color: rgba(52,58,64,0.75);color: rgb(255,255,255);">
                                <tr>
                                    <th class="align-middle">Fecha Inicio</th>
                                    <th class="align-middle">Fecha Fin</th>
                                    <th class="align-middle"><strong>Días</strong><br></th>
                                    <th class="align-middle"><strong>Documento</strong><br></th>     
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="align-middle">01/02/2022</td>
                                    <td class="align-middle">10/02/2022</td>
                                    <td class="align-middle">10<br></td>
                                    <td class="text-center"><a href="#" class="btn btn-outline-dark"><i class="fa fa-file-text-o"></i></a></td>
                            
                                </tr>
                            </tbody>
                        </table>
                </div>
            </div>